/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2015, 11:26:17 PM
    Author     : martinbystriansky1
*/

.jumbo{
    margin-bottom: 0px;
    background-image: url(../img/cover_page.jpg);
    background-position: 0% 88%;
    background-size: cover;
    background-repeat: no-repeat;
    color: green;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 300px;
    
}



/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}
.row{
  margin: 20px 0;
  }
  
.footer {
    
   min-height: 100px;
  
    
}
.img-100 {
    max-height: 200px;
    
}



.text-nad-obrazkami {
  position: absolute;
    left: 0;
    bottom: 20%;
    width: 100%;
    text-align: center;
    color: #E8B20C;
     text-shadow: black 0.3em 0.3em 0.3em;
    
    
}

.center-vertical{
    vertical-align: middle;
}

.bg-zlte{
    background-color: #E8CA65;
}

.text-zeleny{
    color: #34783B;
}
.text-bledo-zeleny{
  color:  #0DFF7D;
}

.text-cerveny{
    color: #E8CA65;
}

.text-zlty{
    color: #E8B20C;
}

.img-logo{
max-height: 60%;
}
.img-max-h{
    max-height: 50%;
}

.max-h{
    height: 200px;
}
.jumbo2{
    margin-bottom: 0px;
    background-image: url(a.jpg);
    background-position: 0% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    color: yellow;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 300px;
    
}

.dlazba{
    height: 30px;
    width: 30px;
}